<section class="about-page-index">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <div>
    <h3>Why plants?</h3>
    <p>Long story short, I was raised in the wild by a &#40relatively&#41 friendly band of gorillas. I spent most of my childhood swinging through the trees of the Congolese jungle with my best friend, Turk, or at the local watering hole with my other best friend, Tantor. As a result of my upbringing, <strong>I love all things nature!</strong></p> 
    
    <p>Since moving to England with my wife Jane, who found me in the jungle while on an expedition with her father where my entire family was almost killed (another long story), I have missed being surrounded by nature. The hustle and bustle of a big city can be overwhelming at times, so I decided to bring a little piece of the jungle here to London to share with all of you! </p>
  </div>

</section>

