<section class="about-page-index">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <div>
    <h3>Why plants?</h3>
    <p>It's actually a long story.... I was raised in the wild by a pack of very generous but not always friendly gorillas.</p>
  </div>

</section>

